<!doctype html>
<html lsng="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tripper</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	
	<link rel="stylesheet" href="jquerymobile.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bootsrtap/dist/js/bootstrap.js"></script>

	
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<!--  google login  -->
	<script src="https://apis.google.com/js/client:platform.js" async defer></script>
	<!-- ens google login -->

	<script type="text/javascript" src="../functionTrip.js"></script>

</head>
<body >

	<div data-role="page" id="homePage" >
		<header data-role="header" data-position="fixed" data-tap-toggle="false">     
			<h1><a href="#">Tripper</a></h1>
			<ul class="nav nav-pills">
				<li id="home"><a href="#homePage">חיפוש טיול</a></li>
				<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
				<li ><a href="#indexMobile">המועדפים שלי</a></li>
				<li><a href="#">המסלול שלי</a></li>
				<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
			</ul>
		</header>
		<div data-role="content" class="ui-content" id="content">
			<!-- application data will goes here -->
			<div id="groupButton">
				
				<% for (var j =0; j<character.length; j++) {%>

				<button class="btnChar"><%=character[j].charachter %></button>

				<% } %>
				<a class='continue' href='index.ejs#resultTripPqge'> המשך </a>
			</div>	
		</div>


		<section>
			<span id="signinButton"> <span
				class="g-signin"
				data-callback="signinCallback"
				data-clientid="573156814655-734l8cl9gau167f6p4h59d9m00f48roc.apps.googleusercontent.com"
				data-cookiepolicy="single_host_origin"
				data-scope="profile"> </span> </span>
			</section>
			<li id="signOut" role="presentation">
				<a role="menuitem" tabindex="-1" href="#">Sign out</a>
			</li>
		</div>




		<div data-role="page" id="resultTripPqge" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li ><a href="#indexMobile">המועדפים שלי</a></li>
					<li><a href="#">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<div data-role="content" class="ui-content" id="content">
				<select id="selectArea" onchange="changedArea()">
					<option value=""></option>
					<option value="tel-aviv">איזור מרכז וגוש דן</option>
					<option value="south">איזור דרום</option>
					<option value="north">איזור צפון</option>
				</select>
				<section id="resultTrip">
					<ul class="displayTrip">
					</ul>
				</section>
				<section id="myChoose">
				</section>
			</div>
		</div>

		<div data-role="page" id="addTripPage" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li ><a href="#indexMobile">המועדפים שלי</a></li>
					<li><a href="#">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<section id="addTripSec">
				<form action="/add" method="post">
					<label>שם או אזור הטיול <br>
						<input type="text" name="nameTrip">
					</label><br>
					<label>תאור הטיול<br>
						<textarea type="text" name="des"></textarea>
					</label><br>
					<label>מיקום הטיול: <br>
						<input type="text" name="locationTrip">
					</label><br>
					<label>תכונות הטיול: <br>
						<input type="text" name="char1">
						<input type="text" name="char2">
					</label>

					<label for="ingredients"> <span class="testRight" id="ingredientsT">אתרי תיירות</span>
						<span class="formField">
								<div class="ingredients_wrap">

									<div style="text-align: center;margin: auto;position: relative;align-content: center;">
										<input type="text" name="ingredients[]" placeholder="אתר" class="firstIngredient ingredients_i" id="firstIngredient">
										<input type="text" name="amount[]" placeholder="מיקום" class="firstAmount amounts_i" id="firstAmount">
									</div>
								</div> 
						</span> 
					</label>
					<br>
					<input type="submit">
				</form>
			</section>
		</div>

		<div data-role="page" id="accountPage" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li ><a href="#indexMobile">המועדפים שלי</a></li>
					<li><a href="#">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<section id="showTripsSec">
				<ul class="displayTrip">
					<% for ( i =0; i<trips.length; i++) {%>
					<li> <span class="titelName"> <%= "שם הטיול: "+trips[i].trip_name %></span><%= " תיאור-הטיול:  " + trips[i].trip_description + "מיקום: "+ trips[i].location + "תכונות: " + trips[i].trip_charachters[0].charachter+" "+trips[i].trip_charachters[1].charachter %></li>
					<% } %>
				</ul>
			</section>
		</div>
<!--
	<div id="wrapper">
			<h1><a href="#">Tripper</a></h1>
			<ul class="nav nav-pills">
				<li id="home"><a href="#">חיפוש טיול</a></li>
				<li id="showTrips"><a href="#">החשבון שלי</a></li>
				<li ><a href="#indexMobile">המועדפים שלי</a></li>
				<li><a href="#">המסלול שלי</a></li>
				<li id="addTrip"><a href="#">הוספת טיול</a></li>
			</ul>
		<section id="homeSec">
			<div id="groupButton">
				
				<% for (var j =0; j<character.length; j++) {%>
				<button class="btn"><%=character[j] %></button>
				<% } %>
			</div>	
		
			<section id="resultTrip">
				<ul class="displayTrip">
				<% for (var i in trips) {%>
					<li class="listResultTrip"><span class="titelName"> <%= "שם הטיול: "+trips[i].trip_name %></span><%= " תיאור-הטיול:  " + trips[i].trip_description + "מיקום: "+ trips[i].location + "תכונות: " + trips[i].trip_charachters[0].charachter+" "+trips[i].trip_charachters[1].charachter %></li>
					<% } %>
				</ul>
			</section>
			<section id="myChoose">
			</section>
		</section>	

		<section id="showTripsSec">
			<ul class="displayTrip">
				<% for ( i =0; i<trips.length; i++) {%>
				<li> <span class="titelName"> <%= "שם הטיול: "+trips[i].trip_name %></span><%= " תיאור-הטיול:  " + trips[i].trip_description + "מיקום: "+ trips[i].location + "תכונות: " + trips[i].trip_charachters[0].charachter+" "+trips[i].trip_charachters[1].charachter %></li>
				<% } %>
			</ul>
		</section>

		<section id="addTripSec">
			<form action="/add" method="post">
				<label>שם או אזור הטיול <br>
					<input type="text" name="nameTrip">
				</label><br>
				<label>תאור הטיול<br>
					<textarea type="text" name="des"></textarea>
				</label><br>
				<label>מיקום הטיול: <br>
					<input type="text" name="locationTrip">
				</label><br>
				<label>תכונות הטיול: <br>
					<input type="text" name="char1">
					<input type="text" name="char2">
				</label>
				<br>
				<input type="submit">
			</form>
		</section>
	</div>
	 
	<script src="../jquerymobile.js"></script> -->
	
</body>
</html>